*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    direction: rtl;
    font-size: 1rem;
    font-weight: bold;
    color: #515151;
    align-items: center;
}
.dark{
    width: 150px;
    height: 50px;
    margin: 15px;
    position: relative;
    border-radius: 40px;
    background-color: darkgray;
    padding: 5px;
     box-shadow: 0 3px 3px 0 rgba(0,0,0,0.7);
}
.dark .text{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
}
.circle{
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    margin-right: 10px;
    top: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.darkMode{
    background-color: black;
    color: #fff;
}